{% extends "forum/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="card" style="margin: 10px 0px 10px 0px;">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-body fd">
          <h5> Are you sure you want to delete the post "{{ post.title }}"?</a>
          <p></p>
          <button type="submit" class="btn btn-outline-danger">Delete</button>
          <a class="btn btn-outline-secondary" href="{% url 'forum:post_detail' post.id post.slug%}" role="button">Cancel</a>
      </div>
    </form>
  </div>
</div>


{% endblock %}