{% extends "forum/base.html" %}
 
{% block title %}Forum{% endblock %}

{% block content %}
<!--List all post by subject name-->
<div class="container">
  {% for post in posts_by_subjects %}
  <div class="card" style="margin: 10px 0px 10px 0px;">
    <div class="card-header">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>  
            <small class="text-muted">{{ post.publish|date:"F d, Y" }}</small> 
        </div>
    </div>
    <div class="card-body fd" style="padding-left: 50px;">
        <h2>
            <a class="article-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
      <p class="card-text">{{ post.body|truncatewords:30|linebreaks }}</p>
      <p class='tags'>Tags: {{ post.tags.all|join:", " }} </p>
    </div>
</div>
  {% endfor %}

</div>
{% endblock content %}