{% extends "forum/base.html" %}
{% block title %}Forum{% endblock %}

{% block content %}
<!--List of all post-->
<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
          <h1>Forum</h1>
        </div>
        <div class="col-auto align-self-center">
        <a class="btn btn-outline-primary" href="{% url 'forum:new_post' %}" role="button">New Post</a>
        </div>
    </div>
    <p></p>
    {% for post in posts %}
        <div class="card" style="margin: 10px 0px 10px 0px;">
            <div class="card-header">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'profile' post.author.pk post.author %}">{{ post.author }}</a>  
                    <small class="text-muted">{{ post.publish|date:"F d, Y" }}</small> 
                </div>
            </div>
            <div class="card-body fd" style="padding-left: 50px;">
                <h2>
                    <a class="article-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h2>
                <p class="card-text">{{ post.body|safe|truncatewords:30|linebreaks }}</p>
                <p class='tags'>Tags: {{ post.tags.all|join:", " }} </p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}