{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Forum{% endblock %}

{% load static %}
{% block mycss %}
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
{% endblock mycss %}

{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {{ form2|crispy }}
        <!-- <div action = "/" class="dropzone mb-3 dz" id='my-upload'> -->
        <!-- <div class="dropzone mb-3 dz" id='my-upload'>
            <div class="fallback">
              <input name="file" type="file" multiple />
              {{ upload.file_upload }}
              {{ upload.errors }}
              {{ upload.non_field_errors }}
            </div>
        </div>  -->
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    <script>var editor = new MediumEditor('.editable');</script>
</div>
{% endblock %}